@keyframes stretch { 
    0% { 
        transform: scale(0.9); 
        border-radius: 100%; 
    } 

    50% { 

    } 

    100% { 
        transform: scale(1); 
    } 
} 

.refresher-content {
    background-color: white;
}

.family-icon-button {
    margin-right: 5px;
}

.list-icon {
    margin-right: 5px;
    margin-bottom: 3px;
}

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.family-title-button {
    margin-left: 10px;
    margin-bottom: -5px;
}

.pulse {
    border-radius: 5px;
    animation-name: stretch; 
    animation-duration: 0.5s; 
    animation-timing-function: ease-out; 
    animation-direction: alternate; 
    animation-iteration-count: infinite; 
    animation-play-state: running; 
}

.pulse-2 {
    border-radius: 5px;
    animation-name: stretch; 
    animation-duration: 0.6s; 
    animation-timing-function: ease-out; 
    animation-direction: alternate; 
    animation-iteration-count: infinite; 
    animation-play-state: running; 
}

.card-container {
    border: 1px solid rgba(0,0,0,0.1);
    ion-item{
        --ion-background-color:rgb(238, 238, 238);
    }
}