<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="text" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Senha (pelo menos 8 characteres)</ion-label>
    <form>
      <ion-input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"></ion-input>
    </form>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input type="text" [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Idade</ion-label>
    <ion-input type="number" [(ngModel)]="age"></ion-input>
  </ion-item>
  <div style="margin-top: 20px">
    <ion-button color="primary" expand="full" style="font-weight: bold;" (click)="register()">
      REGISTRAR
    </ion-button>
  </div>
</ion-content>