.main-map {
    width: 100%;
    height: 100%;
}

.marker-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: -30px;
}

.marker-title {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(65, 201, 53);
    color: white;
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.arrow-down-overlay {
    position: relative;
    top: -3px;
    left: 2px;
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid  rgb(65, 201, 53);
    border-radius: 2px;
}

.arrow-down-overlay-blue {
    position: relative;
    top: -3px;
    left: 2px;
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid  royalblue;
    border-radius: 2px;
}